@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-size: 1rem;
}

html{
  scroll-snap-type: y mandatory;
}

.hideScrollBar {
  scrollbar-width: none;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.dot{
r:0%;
  transition: fill 0.2s ease-in-out;
}

.dot:hover{
  fill: #12FFC9;
}

.pop-up{
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  cursor: pointer;
  width: 5.8rem;
  z-index: 9999;
  transition: color 0.4s ease-in-out;
}

.pop-up:hover{
  color: #12FFC9;
}

.colorChange{
  color: #ffffff;
  transition: color 0.4s ease-in-out;
}

.colorChange:hover{
  color: #12FFC9;
}

.hidden{
  display:none;
}

.section{
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  position: absolute;
}

.section1{
  height : 100vh;
  width : 100vw;
  display: flex;
  align-items: center;
  padding-right: 5rem;
  justify-content: flex-end;
  overflow-x: hidden;
  top : 100vh;
  position: absolute;
}

.section2{
  height : 100vh;
  width : 100vw;
  overflow: hidden;
  top : 200vh;
  position: absolute;
}

.section3{
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  top : 300vh;
  position: absolute;
  display: flex;
  justify-content: right;
}

.section4{
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  top : 400vh;
  position: absolute;
}

.footer{
  height: 15vh;
  width : 100vw;
  overflow-x: hidden;
  top : 500vh;
  position: absolute;
}

.iconButton{
  margin: 0 8px;
  transition: all 0.3s ease-in-out;
}

.iconButton:hover{
  color: #12FFC9;
}

.heading-content{
  display : inline-block;
  margin : 0;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0.8;
  }
  to {
    stroke-dashoffset: 0.465;
  }
}

@keyframes dash1 {
  from {
    stroke-dashoffset: 0.465;
  }
  to {
    stroke-dashoffset: 0.3;
  }
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 0.3;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes zoomIn{
  0%{
    r: 0%;
  }
  50%{
    r: 0.5%;
  }
  80%{
    r: 0.35%;
  }
  100%{
    r: 0.4%;
  }
}

@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translatey(50%);
  }
  to{
    opacity: 1;
    transform: translatey(0%);
  }
}

@keyframes fadeDown {
  from{
    opacity: 0;
    transform: translatey(-50%);
  }
  to{
    opacity: 1;
    transform: translatey(0%);
  }
}

@keyframes fadeLeft {
  from{
    opacity: 0;
    transform: translatex(50%);
  }
  to{
    opacity: 1;
    transform: translatex(0%);
  }
}

@keyframes fadeRight {
  from{
    opacity: 0;
    transform: translatex(-50%);
  }
  to{
    opacity: 1;
    transform: translatex(0%);
  }
}

@keyframes float {
  0% {
      transform: translatey(0px);
  }
  50% {
      transform: translatey(-15px);
  }
  100% {
      transform: translatey(0px);
  }
}

@keyframes color-breathing {
    from
    {
        border-color: #106466;
        color: #106466;
    }
    to
    {
      border-color: #12FFC9;
      color: #12FFC9;
    }
}

@media(max-width:1007px){
  .section1{
    padding-right:0;
  }

  .pop-up{
    display: none;
  }
}


