@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");

* {
  text-align: left;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiko', sans-serif;
  user-select: none;

}

html, body{
  height: 100%;
}


.App {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  color: white;
  background-color: #0A2729;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root{
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.model{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: opacity .4s ease visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 99999;

}

.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  line-height: 0;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg{
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.model.open .closeIcon{
  top: 10px;
  right: 10px;
}

.model.open .downloadIcon{
  position: fixed;
  width: 2rem;
  height: 2rem;
  bottom: 20px;
  right: 20px;
  display: block;
}

.model.open svg:hover{
  color: #12FFC9;
}

.firstLetter{
  color: #12FFC9;
}

.item{
  background: #D2E9E3;
  margin-top: 2rem;
}

.content{
  overflow: hidden;
  height: 0;
  max-height: 0;
  transition: all 0.5s ease-in-out;
}

.content.show{
  height: auto;
  max-height: 999px;
  padding: 1.25rem;
  transition: all 0.5s ease-in-out;
}

.lbDropdown{
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.lbDropdown-content{
  position: absolute;
  top: 110%;
  background-color: rgb(55, 125, 129);
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  width: 100%;
  cursor: pointer;
  z-index: 88;
}

.lbDropdown-item{
  background-color: rgb(55, 125, 129);
  padding: 12px;
  transition: all 0.2s;
}

.lbDropdown-item:hover{
  background-color: rgb(42, 98, 100);
}