@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-size: 1rem;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.hideScrollBar{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}



