@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-size: 1rem;
}

html{
  scroll-snap-type: y mandatory;
}

.dot{
r:0%;
  transition: fill 0.2s ease-in-out;
}

.dot:hover{
  fill: #12FFC9;
}

.pop-up{
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  cursor: pointer;
  width: min-content;
  z-index: 9999;
  transition: color 0.4s ease-in-out;
}

.pop-up:hover{
  color: #12FFC9;
}


.section{
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  position: absolute;
}

.section1{
  height : 100vh;
  width : 100vw;
  display: flex;
  align-items: center;
  padding-right: 5rem;
  justify-content: flex-end;
  overflow-x: hidden;
  top : 100vh;
  position: absolute;
}

.section2{
  //border-top: 1px solid #ffffff;
  //border-bottom: 1px solid #ffffff;
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  top : 200vh;
  position: absolute;
  /* background-color : #FF0000; */
}

.section3{
  //border-top: 1px solid #ffffff;
  //border-bottom: 1px solid #ffffff;
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  top : 300vh;
  position: absolute;
  display: flex;
  justify-content: right;
      /* background-color : #00FF00; */
}

.section4{
  //border-top: 1px solid #ffffff;
  //border-bottom: 1px solid #ffffff;
  height : 100vh;
  width : 100vw;
  overflow-x: hidden;
  top : 400vh;
  position: absolute;
  /* background-color : #FF0000; */
}

@keyframes float {
  0% {
      transform: translatey(0px);
  }
  50% {
      transform: translatey(-15px);
  }
  100% {
      transform: translatey(0px);
  }
}


::-webkit-scrollbar {
    display: none;
}

.hideScrollBar{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@keyframes dash {
  from {
    stroke-dashoffset: 0.8;
  }
  to {
    stroke-dashoffset: 0.465;
  }
}

@keyframes dash1 {
  from {
    stroke-dashoffset: 0.465;
  }
  to {
    stroke-dashoffset: 0.3;
  }
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 0.3;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes zoomIn{
  0%{
    r: 0%;
  }
  50%{
    r: 0.5%;
  }
  80%{
    r:0.35%;
  }
  100%{
    r: 0.4%;
  }
}

@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translatey(50%);
  }
  to{
    opacity: 1;
    transform: translatey(0%);
  }
}

@keyframes fadeDown {
  from{
    opacity: 0;
    transform: translatey(-50%);
  }
  to{
    opacity: 1;
    transform: translatey(0%);
  }
}

@keyframes fadeLeft {
  from{
    opacity: 0;
    transform: translatex(50%);
  }
  to{
    opacity: 1;
    transform: translatex(0%);
  }
}

@keyframes fadeRight {
  from{
    opacity: 0;
    transform: translatex(-50%);
  }
  to{
    opacity: 1;
    transform: translatex(0%);
  }
}

@media(max-width:1007px){
  .section1{
    padding-right:0;
  }
}


